* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
    }

    body {
      background-color: #f3f8f6;
      background-image: url(./images/stethoscope.png);
      background-repeat: no-repeat;
      background-position: center;
      overflow-x: hidden;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 80px;
      background: transparent;
    }

    .logo img {
      width: 150px;
      height: auto;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 30px;
    }

    .nav-links a {
      text-decoration: none;
      font-weight: 600;
      color: #222;
      transition: 0.3s;
    }

    .nav-links a.active,
    .nav-links a:hover {
      color: #20c997;
    }

    /* Hero Section */
    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 60px 80px;
      position: relative;
    }

    .hero>img {
      position: absolute;
      top: 0;
      left: 80px;
    }

    .hero-text {
      max-width: 600px;
      position: relative;
      z-index: 5;
    }

    .hero-text h1 {
      font-size: 3.5rem;
      font-weight: 800;
      color: #000;
      margin-bottom: 20px;
    }

    .hero-text p {
      font-size: 1rem;
      color: #555;
      line-height: 1.6;
      margin-bottom: 30px;
    }

    .btn {
      background: #20c997;
      color: white;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 14px 32px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .btn:hover {
      background: #17a673;
    }

    /* bottom icons */
    .hero-text img {
      position: absolute;
    }

    .hero-text img:nth-child(4) {
      bottom: -120px;
      left: 0;
      width: 80px;
    }

    .hero-text img:nth-child(5) {
      bottom: -130px;
      left: 120px;
      width: 25px;
    }

    /* Doctor + Shapes */
    .hero-img {
      position: relative;
      width: 500px;
      height: 500px;
    }

    .hero-img img {
      position: absolute;
    }

    .hero-img img:nth-child(1) {
      width: 420px;
      top: 50px;
      left: 50px;
      z-index: 1;
    }

    .hero-img img:nth-child(2) {
      width: 370px;
      top: 110px;
      left: 100px;
      z-index: 2;
    }

    .hero-img img:nth-child(3) {
      width: 450px;
      top: 20px;
      left: 60px;
      z-index: 3;
    }