body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .navbar {
      display: flex;
      height: 60px;
      border: 1px solid gray;
      padding-top: 20px;
      background-color: black;
      justify-content: space-between;
      padding-right: 40px;
    }

    .menu {
      display: flex;
      gap: 40px;
    }

    ul li {
      list-style: none;
    }

    ul li a {
      text-decoration: none;
      color: whitesmoke;
    }

    .navbar button {
      width: 120px;
      height: 40px;
      background-color: blueviolet;
      border-radius: 12px;
      border: none;
      margin-left: 290px;
      color: white;
      font-weight: bold;
    }

    .navbar img {
      height: 50px;
      width: 70px;
      border-radius: 10px;
      margin-left: 100px;
    }

    .main_section {
      background-image: url(./assets/bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
      width: 100%;
      color: whitesmoke;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .content button {
      width: 200px;
      height: 50px;
      background-color: blueviolet;
      border-radius: 12px;
      border: none;
      color: white;
      font-weight: bold;
      margin-top: 20px;
    }

    .content p {
      font-size: 60px;
      font-weight: bolder;
    }

    .content h1 {
      font-size: 60px;
      font-weight: bolder;
    }

    .content p:nth-child(3) {
      font-size: 20px;
      font-weight: bold;
    }