/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0a0a0a;
    color: white;
}

header {
    width: 100%;
    background: #000;
    padding: 18px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.logo-icon {
    margin-right: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

nav ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: white;
}

.buy-btn {
    background: linear-gradient(45deg, #ff00cc, #9d00ff);
    border: none;
    padding: 10px 22px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

/* Hero Section */
.hero {
    height: 100vh;
    background-image: url(./assets/bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding-top: 80px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(35, 0, 60, 0.6);
    top: 0;
    left: 0;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.hero-content h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.2;
}

.hero-content p {
    margin-top: 20px;
    font-size: 20px;
    color: #ddd;
}

.cta-btn {
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(45deg, #ff00cc, #9d00ff);
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.cta-btn:hover {
    opacity: 0.85;
}
