.navbar {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    gap: 300px;
}

.menu {
    display: flex;
    gap: 40px;
}

ul li {
    list-style: none;
    font: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    width: 150px;
    height: 40px;
    background-color: white;
    border-radius: 12px;
    border-color: rgb(0, 0, 0);
    margin-left: 100px;
    color: gray;
    font-weight: bolder;
    font-size: 15px;
}

.logo {
    width: 100px;
    height: 50px;
}

.main_section {
    display: flex;
    margin-left: 50px;
    margin-top: 60px;
}

.card :nth-child(2) {
    height: 500px;
    width: 400px;
    margin-top: 20px;
    z-index: 3;
    position: absolute;

}

.card :nth-child(1) {
    margin-top: 230px;
    margin-left: 70px;
    height: 350px;
    width: 400px;
    z-index: 2;
    position: absolute;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 500px;
    padding: 50px 100px;
}

.heading h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-bottom: 40px;

}

.last_icon {
    margin-right: 800px;
    height: 40px;
    width: 40px;

}

.p3 {
    height: 50px;
    width: 50px;
    margin-left: -300px;

}

.p2 {
    height: 50px;
    width: 50px;
    margin-left: 500px;
}

.Btn {
    width: 100px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    margin-left: 10px;
    color: rgb(255, 245, 245);
    font-weight: bolder;
    font-size: 15px;
}

.input {
    padding: 10px 20px;
    font-size: 18px;
    gap: 5px;
    border: 1.5px solid black;
    outline: none;
    border-radius: 10px;
    color: gray;
}

footer{
    margin-left: 900px;
    margin-top: -50px;
    
}
.p1{
    width: 100px;
    font-weight: bold;
    margin-left: 35px;
    color: gray;
}
.img3{
    height: 30px;
    width: 30px;
    display: flex;
    margin-top: -10px;
    gap: 10px;
}
p{
    margin-top: -10px;
}